body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 600px;
    margin: 50px auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

input[type="text"], input[type="button"] {
    padding: 10px;
    margin: 5px 0;
}

input[type="text"] {
    width: 100%;
}

input[type="button"] {
    background-color: #ee32ea;
    color: #fff;
    cursor: pointer;
    border-radius: 25px;
}

input[type="button"]:hover {
    background-color: rgba(226, 10, 232, 0.89);
}
